  <!-- <footer class="footer fixed-bottom">
    <br>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mb-4 mx-auto text-center">
          <a href="https://github.com/getcake/" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
            Jack McGinnis
          </a>
          <a href="https://localhost:5000" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
            mhdcrime.org
          </a>
          <a href="https://github.com/getcake/mhdcrime" target="_blank" 
             class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
            Source Code
          </a>
        </div>
      </div>
    </div>
  </footer> -->
