    <footer class="footer pt-2">
      <ul class="nav nav-footer justify-content-center justify-content-md-end">
        <div style="margin-left:auto;margin-right:auto;">
          <!-- <h7 style="color: #FCDDBC; font-size: smaller;"> <a href="https://github.com/getcake/mhdcrime">Jack McGinnis</a> </h7>  -->
          <h7 style="color: #F88DAD; font-size: smaller;"> <a style="color: #F88DAD;" href="https://github.com/getcake">created by @getcake</a></h7>
      
      </div>
      </ul>
    </footer>
