  <link id="stylesheet" rel="stylesheet preload" type="text/css" href="/static/assets/css/soft-ui-dashboard.css?v=1.0.0" as="style">
  <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
    <div class="collapse navbar-collapse me-md-0 me-4">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-1 px-0 me-sm-6 me-12">
            <!-- <li class="breadcrumb-item"><a class="opacity-8 text-dark" href="javascript:;">Dashboard</a></li> -->
            <li class="breadcrumb-item text-dark active" aria-current="page">
            </li>
          </ol>
        </nav>
        <li class="nav-item d-xl-none ps-4 d-flex align-items-center">
          <a href="javascript:;" class="nav-link text-body p-0" style="margin-left:auto;" id="iconNavbarSidenav">
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
            </div>
          </a>
        </li>
        <li class="nav-item px-3 d-flex align-items-center" style="margin-left: auto;">
          <!-- style="display:flex;justify-content:flex-end;align-items:flex-end;margin-left: auto;" -->
            <a id="theme" onclick="toggleThemes()" href="#" class="nav-link text-body p-0" style="font-size: 1.5em;">
            <i class="fa fa-moon-o"></i>
          </a>
        </li>
      </div>
    </a>
  </li>
</ul>
</li>
</ul>
  </nav>
  <head>
  </nav>
<script defer>

let mode;
mode = localStorage.getItem('mode');
if(mode=='dark'){

document.getElementById("stylesheet").setAttribute('href', '/static/assets/css/soft-ui-dashboard-darkmode.css');

}else{

document.getElementById("stylesheet").setAttribute('href','/static/assets/css/soft-ui-dashboard.css?v=1.0.0');

}

  function toggleThemes() { 
      var stylesheet = document.getElementById("stylesheet");
      if (stylesheet.getAttribute('href') == "/static/assets/css/soft-ui-dashboard.css?v=1.0.0") {
          stylesheet.setAttribute('href', '/static/assets/css/soft-ui-dashboard-darkmode.css');
          // lightMode = false;
          localStorage.setItem('mode', 'dark');

      } else {
  ;
          stylesheet.setAttribute('href', '/static/assets/css/soft-ui-dashboard.css?v=1.0.0');
          // lightMode = true;
          localStorage.setItem('mode', 'light');
          // console.log(crime_map.markers)

      }
  }

</script>


